<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdao.modules.sys.mapper.MenuMapper">
	
	<sql id="selectColumns">
		t.id,
		t.menu_name as menuName,
		t.p_id as pId,
		t.p_ids as pIds,
		t.menu_path as menuPath,
		t.permission,
		t.menu_type as menuType,
		t.is_show as isShow,
		t.icon,
		t.opened,
		t.sort,
		t.badge,
		t.remark,
		t.status,
		t.menu_name as name,
		t.menu_path as path
	</sql>
	
	<select id="findUserMenuList" resultType="com.tangdao.model.domain.Menu">
		select
		<include refid="selectColumns" />
		from 
			menu t, role_menu rm, user_role ur
		where 
			t.id = rm.menu_id and rm.role_id = ur.role_id
			and t.menu_type = 1
			and ur.user_id = #{userId}
		order by
			t.sort
	</select>
	
	<select id="findRoleMenuList" resultType="com.tangdao.model.domain.Menu">
		select
		<include refid="selectColumns" />
		from 
			menu t, role_menu rm
		where 
			t.id = rm.menu_id
			and t.menu_type = 1
			and rm.role_id = #{roleId}
		order by
			t.sort
	</select>
	
	<select id="findMenuVoList" resultType="com.tangdao.model.vo.MenuVo">
		select
		<include refid="selectColumns" />
		from 
			menu t
		where
			t.status = 0
			and t.menu_type = 1
		order by
			t.sort
	</select>
</mapper>
