<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdao.modules.sys.mapper.UserMapper">
	
	<select id="findMapsPage" resultType="java.util.Map">
		select
			distinct t.id,
			t.username,
			t.nickname,
			t.gender,
			t.last_login_ip as lastLoginIp,
			t.last_login_date as lastLoginDate,
			t.status,
			t.created,
			t.remark,
			group_concat(r.role_name) as roleName,
			group_concat(r.role_name_cn) as roleNameCn
		from
			user t 
			left join user_role ur on t.id = ur.user_id
			left join role r on ur.role_id = r.id
		<where>
			<if test="user.username!=null and user.username!=''">
				and t.username like concat('%',#{user.username},'%')
			</if>
		</where>
		group by
			t.id
	</select>
</mapper>
