<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdao.service.dao.UserMapper">
	
	<delete id="deleteUserRole">
		delete from sys_user_role where user_id = #{userId}
	</delete>
	
	<insert id="insertUserRole">
        INSERT INTO sys_user_role(user_id, role_id)
        <foreach collection="roleIds" item="roleId" separator=" union all ">
            SELECT #{userId}, #{roleId} FROM dual
        </foreach>
	</insert>
	
</mapper>
