<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdao.module.core.mapper.GroupMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.group_id as "groupId",
        t.group_name as "groupName",
        t.corp_id as "corpId",
        t.corp_name as "corpName",
		t.status as "status",
		t.create_by as "createBy",
		t.create_time as "createTime",
		t.update_by as "updateBy",
		t.update_time as "updateTime",
    	t.remarks as "remarks"
    </sql>

	<select id="listGroupsForUser" resultType="com.tangdao.module.core.model.domain.Group">
		select 
			<include refid="Base_Column_List"></include>
		from sys_group t, sys_user_group ug 
		where t.group_id = ug.group_id and ug.user_id = #{userId}
	</select>
</mapper>
