<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdao.module.core.mapper.PolicyMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        policy_id as "policyId",
        policy_name as "policyName",
        policy_type as "policyType",
        domain_id as "domainId",
		status as "status",
		create_by as "createBy",
		create_time as "createTime",
		update_by as "updateBy",
		update_time as "updateTime",
    	remarks as "remarks"
    </sql>

</mapper>
