<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdao.modules.sys.mapper.PolicyMapper">
	
	<sql id="selectColumns">
		t.id,
		t.policy_name as policyName,
		t.policy_name_cn as policyNameCn,
		t.policy_type as policyType,
		t.content,
		t.version,
		t.remark,
		t.status,
		t.created,
		t.modified
	</sql>
	
	<select id="findUserPolicyList" resultType="com.tangdao.model.domain.Policy">
		select
		<include refid="selectColumns" />
		from 
			policy t, user_policy up
		where 
			t.id = up.policy_id
			and t.status = 0
			and up.user_id = #{userId}
		order by
			t.created
	</select>
	
	<select id="findRolePolicyList" resultType="com.tangdao.model.domain.Policy">
		select
		<include refid="selectColumns" />
		from 
			policy t, role_policy rp, user_role ur
		where 
			t.id = rp.policy_id and rp.role_id = ur.role_id
			and t.status = 0
			and ur.user_id = #{userId}
		order by
			t.created
	</select>
	
</mapper>
