<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdao.modules.goods.mapper.GoodsBrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tangdao.modules.goods.model.domain.GoodsBrand">
    <result column="id" property="id" />
    <result column="created" property="created" />
        <result column="store_id" property="storeId" />
        <result column="brand_logo" property="brandLogo" />
        <result column="brand_cover" property="brandCover" />
        <result column="brand_initial" property="brandInitial" />
        <result column="brand_name" property="brandName" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="sort" property="sort" />
        <result column="options" property="options" />
        <result column="status" property="status" />
        <result column="brand_class" property="brandClass" />
        <result column="brand_recommend" property="brandRecommend" />
        <result column="brand_apply" property="brandApply" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        created,
        store_id, brand_logo, brand_cover, brand_initial, brand_name, summary, content, sort, options, status, brand_class, brand_recommend, brand_apply
    </sql>

</mapper>
