<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdao.modules.goods.mapper.GoodsAlbumFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tangdao.modules.goods.model.domain.GoodsAlbumFile">
    <result column="id" property="id" />
    <result column="created" property="created" />
        <result column="file_id" property="fileId" />
        <result column="file_name" property="fileName" />
        <result column="file_type" property="fileType" />
        <result column="shop_id" property="shopId" />
        <result column="album_id" property="albumId" />
    </resultMap>
    
    <select id="findGoodsAlbumFilePage" resultType="com.tangdao.modules.goods.model.vo.GoodsAlbumFileVo">
    	SELECT 
    		t.id as "id",
    		t.file_id as "fileId",
    		t.file_name as "fileName",
    		t.file_type as "fileType",
    		t.shop_id as "shopId",
    		t.album_id as "albumId",
    		f.file_md5 as "fileInfo.fileMd5",
    		f.file_path as "fileInfo.filePath",
    		f.file_ext as "fileInfo.fileExt"
    	FROM goods_album_file t LEFT JOIN file_info f ON t.file_id = f.id
    	<where>
    		<if test="et.albumId !=null and et.albumId!=''">
    			AND album_id = #{et.albumId}
    		</if>
    	</where>
    	ORDER BY t.created desc
    </select>

</mapper>
