<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdao.modules.goods.mapper.GoodsCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tangdao.modules.goods.model.domain.GoodsCategory">
    <result column="id" property="id" />
    <result column="created" property="created" />
        <result column="p_id" property="pId" />
        <result column="p_ids" property="pIds" />
        <result column="brand_id" property="brandId" />
        <result column="category_name" property="categoryName" />
        <result column="category_cover" property="categoryCover" />
        <result column="thumbnail" property="thumbnail" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
