<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangdao.modules.goods.mapper.GoodsTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tangdao.modules.goods.model.domain.GoodsType">
    <result column="id" property="id" />
    <result column="created" property="created" />
        <result column="type_name" property="typeName" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
